@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}





/* Content_section */
.content-wrapper {
    padding: 30px;
    background-color: #f4f6f8;
    display: grid;
    grid-template-columns: 60% auto;
    gap: 30px;
    margin: 0 auto;
  }
  
  .card-intro {
    background-color: #007D7C;
    border-radius: 15px;
    padding: 30px;
    color: white;
    margin-bottom: 20px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .card-intro h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 12px;
  }
  
  .card-intro p {
    font-size: 1.2rem;
    color: #e0e0e0;
  }
  
  .card-metrics {
    display: grid;
    grid-template-columns:auto auto;
    gap: 2%;
    height: 33%;
  }
  
  .metric-box {
    display: flex;
    align-items: center;
    background-color: #007D7C;
    color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    transition: transform 0.2s;
  }
  
  
  .metric-icon {
    width: 36px;
    height: 36px;
    color: #007D7C;
    margin-right: 15px;
  }
  .metric_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .metric_content svg{
    width: 50px;
  }
  .metric-label {
    font-size: 1.21rem;
    font-weight: 600;
    color: white;
    margin: 0;
  }
  
  .metric-value {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
  }
  
  
  
  /* calender  */
  .calender_section{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
  }
  
  .calendar-card {
    width: 360px;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    font-family: sans-serif;
    color: #333;
  }
  
  .calender-align-header {
    display: flex;
    gap: 10px;
  }
  .calendar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .calendar-header:nth-child(1){
  color: #259B91;
    font-size: 20px;
    font-weight: 600px;
  }
  
  .calendar-header h2 {
    margin: 0;
    font-size: 20px;
    color: #1a7f7a;
  }
  
  .nav-arrows span {
    font-size: 18px;
    margin-left: 8px;
    color: #888;
    cursor: pointer;
  }
  
  .calendar-weekdays,
  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-top: 15px;
  }
  
  .calendar-weekdays div {
    font-weight: bold;
    font-size: 14px;
    color: #666;
  }
  
  .calendar-days div {
    padding: 10px 0;
    font-size: 14px;
  }
  
  .highlight {
    background-color: #d43131;
    color: white;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .calendar-events {
    border-top: 1px solid #eee;
    margin-top: 15px;
    padding-top: 10px;
    font-size: 14px;
    color: #444;
  }
  .calendar-events p{
    border-left: 2px solid #058281;
    padding-left: 20px;
  }
  
  .calendar-events p {
    margin: 6px 0;
  }
  
  
  /* table  */
  
  .table-container {
    overflow-x: auto;
    padding: 20px;
    border-radius: 12px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    color: #f6fbfb;
  }
  
  .custom-table thead {
    background: #F5FAFA;
    color: #AAADB5;
    font-weight: bold;
  }
  
  .custom-table th,
  .custom-table td {
    padding: 12px 16px;
    border-bottom: 1px solid #444;
    text-align: left;
  }
  
  .custom-table thead {
    background: #0f1318;
    color: #59C378;
    font-weight: bold;
  }
  
  .custom-table th,
  .custom-table td {
    padding: 12px 16px;
    border-bottom: 1px solid #444;
    text-align: left;
  }
  
  .badge {
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .badge.active {
    background-color: #59C378;
    color: #0f1318;
  }
  
  .badge.inactive {
    background-color: #f8a27e;
    color: #0f1318;
  }
  
  .btn-view {
    background-color: #59C378;
    color: #0f1318;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
  }